@import "tailwindcss";

@theme {
 --bg-page: #0B0D12;       /* page/body background */
  --bg-surface: #14161D;    /* cards, section panels */
  --border: #23262F;        /* card outlines, dividers */
  --text-primary: #F2F3F5;  /* headlines, body text */
  --text-secondary: #9CA3AF;/* subheads, captions, metadata */
  --accent: #8C7CF0;        /* links, buttons, icons, highlights */
  --accent-hover: #A79BF5;  /* hover/active state on accent elements */
}


html {
  scroll-behavior: smooth;  
  scroll-margin-top: 15vh;
}

body {
  /* Safely sets the default text and background color using Tailwind's engine */
  @apply bg-[var(--bg-page)] text-[var(--text-primary)];
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,textarea,select,option{
  background: var(--bg-surface);
  border:var(--border) 2px solid;
}
#nav-icon1 {
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60%;
  background: var(--accent);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.link-hover{
  color: var(--accent);
}
.link-hover::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(135deg, #6366F1 0%, #8B5CF6 50%, #EC4899 100%);
;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;

}
.link-hover:hover::after{
  transform: scaleX(1);
}
